h1, h2, h3, h4, h5, h6, p, li, th, td, .btn, label {
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

p, li, th, td {
    font-size: 18px;
    line-height: 1.6em;
}

h2 {
    margin: 0;
    padding: 20px 30px;
}

a, a:visited {
    color: lightskyblue;
}

.page-center {
    max-width: 1096px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    color: black;
    font-size: 15px;
    display: inline-block;
    background-color: rgb(234, 199, 0);
    border: 1px solid rgb(243, 212, 34);
    padding: 5px 10px;
}

.btn:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.top-level-list {
    list-style: none;
}

.majorRelease h2, .season h2 {
    display: inline-block;
    color: #eee;
}

.majorRelease h2 {
    background-color: rgb(48, 87, 111);
}

.season h2 {
    background-color: rgb(67, 115, 67);
    font-size: 22px;
}

.season-dlc h2 {
    background-color: rgb(114, 111, 76);
    font-size: 22px;
}

.release-date {
    font-size: 14px;
    margin-left: 10px;
    color: #ccc;
    float: right;
}

.lore::before {
    content: '\201C';
}

.lore::after {
    content: '\201D';
}

.lore {
    font-weight: bold;
    font-style: italic;
    width: 90%;
    margin: 30px auto 10px auto;
    text-shadow: 0 0 2px black;
}

.unconfirmed {
    color: lightcoral;
}

.top-level-list > li {
    background-color: rgba(40, 40, 40, 1);
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 10px 0;
    position: relative;
    z-index: 2;
}

.top-level-list h2 {
    width: 100%;
    box-sizing: border-box;
}

.top-level-list > li > ul {
    padding: 20px;
    display: block;
    margin-left: 20px;
}

.icon {
    display: inline;
    width: 1em;
    vertical-align: middle;
    margin-top: -3px;
}

.season-backdrop {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    mask-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    margin-top: 68px;
}

.right-panel {
    background-color: #444;
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    padding: 20px;
}

.right-panel-title {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.checkbox-container {
    margin: 5px;
}